@page "/"

<h1>ActionEquals REST API Demo</h1>

<p class="lead">
    &quot;If three witches watched three watches, which witch would watch which watch?&quot;
</p>

<p>
    In this demo, you can create, edit, modify and delete Witches, Watches, and their relationships.
</p>
<p>
    All this functionality is provided by the ActionEquals.com REST API.
</p>
<p>
    This site contains only client-side logic-- there is no server side processing.
</p>
<p>
    This means that by using ActionEquals.com, you can power a fully functional web application on a static site such as Github Pages.
</p>

